<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>books</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link rel="apple-touch-icon" href="/bookr/iui/iui-logo-touch-icon.png" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<style type="text/css" media="screen">@import "/bookr/iui/iui.css";</style>
	<script type="application/x-javascript" src="/bookr/iui/iui.js"></script>
	
	<script type="text/javascript">
		iui.animOn = true;
	</script>
	
	
</head>
<body id="index">
		<div id="stats" title="About" class="panel">

			<fieldset>
				<div class="row">
					<label>Total</label>
					<input type="text" name="total" value="<%= @stats[:total] %>" id="total">
				</div>
				
			</fieldset>

	</div>
</body>
</html>