<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>books</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link rel="apple-touch-icon" href="/bookr/iui/iui-logo-touch-icon.png" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<style type="text/css" media="screen">@import "/bookr/iui/iui.css";</style>
	<script type="application/x-javascript" src="/bookr/iui/iui.js"></script>
	
	<script type="text/javascript">
		iui.animOn = true;
	</script>
	
	
</head>
<body id="index">
	<div class="toolbar">
	        <h1 id="pageTitle"></h1>
	        <a id="backButton" class="button" href="#"></a>
	        <a class="button" href="#searchForm">Search</a>
	    </div>

	    <ul id="home" title="Bookr" selected="true">
	        <li><a href="#files">Files</a></li>
			<li><a href="#titles">Titles</a></li>
	        <li><a href="#settings">Settings</a></li>
	        <li><a href="/bookr/stats">Stats</a></li>
	    </ul>
	
		<ul id="files" title="Files">
			<% @books.each do |book| %>
	        <li>
	        	<%= file_link(book[:path]) %>
	        </li>
			<% end %>
	    </ul>
		
		<ul id="titles" title="Titles">
			<% @books.each do |book| %>
				<li><a href="<%= book[:detailpageurl] %>"><%= book[:title] %></a></li>
			<% end %>
		</ul>
	
		<form action="/bookr/search" method="POST" id="searchForm" class="dialog">
	        <fieldset>
	            <h1>Book Search</h1>
	            <a class="button leftButton" type="cancel">Cancel</a>
	            <a class="button blueButton" type="submit">Search</a>

	            <label>File:</label>
	            <input type="text" name="q" id="q"/>

				<label>Title:</label>
				<input type="text" name="title" />
	        </fieldset>
	    </form>
	
		<div id="settings" title="Settings" class="panel">

	        <h2>Amazon</h2>
	        <fieldset>
	            <div class="row">
	                <label>Access Key</label>
	                <input type="text" name="aws_access_key_id" value=""/>
	            </div>
	        </fieldset>
	    </div>
	</div>
</body>
</html>