<div>
	<div class="toolbar">
		<h1><%= "Results (#{@books.count})" %></h1>
		<a class="back button" href="#home">Library</a>
	</div>

	<%= "No Results" if @books.count == 0 %>

	<ul class="edgetoedge">
		<% @books.each do |book| %>
		<li>
			<%= file_link(book[:path]) %>
		</li>
		<% end %>
	</ul>

</div>